:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.rwt {
  max-width: 980px;
}

.column ::part(slider) {
  flex-direction: column;
}

::part(wrapper-slider-img), ::part(wrapper-banner-img) {
  margin-bottom: 20px;
}

::part(wrapper-banner-img) {
  max-width: 500px;
}

.width-30 ::part(slider) {
  width: 30%;
}