body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #fff;
  color: #333;
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
  background-color: #333;
  color: #fff;
  overflow: hidden;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  padding: 10px 20px;
}

nav ul li:hover {
  background-color: #444;
}

main {
  display: flex;
  justify-content: space-between;
  flex: 1;
  padding: 20px;
}

.sidebar {
  background-color: #fff;
  width: 20%;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content {
  background-color: #fff;
  width: 80%;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section {
  background-color: #eee;
  padding: 20px;
  margin-top: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  margin-top: auto;
}

::part(wrapper-banner-img) {
  margin-bottom: 20px;
  border: 1px solid #cccccc;
  padding: 10px;
}

.column ::part(slider) {
  flex-direction: column;
}